@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

:host {
    --main-color: red;
    --secondary-color: #fff;
    --third-color: #bbb;
    --fourth-color: #3f0202;
    --fith-color: #ff8a00;
    --sixth-color : rgba(255, 255, 255, 0.3);
    --seventh-color : #531616;
   }
   

h1,h3,address,time {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;    
    color:var(--secondary-color);
    text-shadow: 1px 1px 2px var(--sixth-color);
}
h1,h3 {    
    margin: 0.5vw;      
}
h1 {font-size: 2.5vw;  
    font-weight: 600;
    color: #1d04044a;
    text-shadow: 1px 3px 1px var(--secondary-color);
}
h3 {font-size: 1.8vw;  font-weight: 500;   }

address,time {
font-size: 1.2vw;
display: flex;
justify-content: flex-end;
-webkit-justify-content:flex-end;
}
time:first-of-type  {
    font-size: 1.8vw;font-weight: 600;color: #1d04044a;text-shadow: 1px 3px 1px var(--secondary-color);}
.card {
    
    border: 1px solid var(--third-color); 
    /* background: radial-gradient(ellipse at bottom,var(--secondary-color) 0%, var(--main-color)100%); */
    background: radial-gradient(ellipse at bottom,#00000091 0,#00000061 100%);
    display: grid;
    grid-template-rows: 3fr 2fr 2fr;
    grid-template-columns: 7fr 3fr;
    align-items: center;
    border-radius: 1vw;
    box-shadow: 1px 1px 1px var(--third-color);
    padding: 0 2vw 0 2vw;
    background-size: 5px 6px;
  
   
}
.card:hover {  
    
    background: radial-gradient(ellipse at bottom,#000000d5 0,#00000061 100%);
    background-size: 1px 5px;
}
.star {
    width: 0;
    height: 0;
    margin: 0.5vw 0.2vw 0;
    color: var(--fith-color);
    position: relative;
    display: block;
    border-right: 1vw solid transparent;
    border-bottom: 0.7vw solid var(--fith-color);
    border-left: 1vw solid transparent;
    -moz-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg);
}

.star:before {
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    top: -0.45vw;
    left: -0.65vw;
    border-bottom: 0.8vw solid var(--fith-color);
    border-left: 0.3vw solid transparent;
    border-right: 0.3vw solid transparent;
    content: '';
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
}

.star:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    display: block;
    top: 0.03vw;
    left: -1.05vw;
    color: var(--fith-color);;
    border-right: 1vw solid transparent;
    border-bottom: 0.7vw solid var(--fith-color);
    border-left: 1vw solid transparent;
    -webkit-transform: rotate(-70deg);
    -moz-transform: rotate(-70deg);
    -ms-transform: rotate(-70deg);
    -o-transform: rotate(-70deg);
}
.rating {display: flex;flex-flow: row;justify-content: flex-start; }